
.skill{
    font-family: "Comic Sans MS";
    font-size: 20px;
    padding:5px 50px 5px ;
    background-color: #E8FFF5;
    font-weight: bold;
    border-style: solid;
    border-color: white;


}

.skillbox {
   width:100%;
   background-color:#E0E0E0;
   
}
.html
{
    width:75% ;
    background-color:  	#C1FFE4;
    text-align: right;
    animation: skill1 4.5s infinite ;
}
.cs
{
width: 70%;
background-color: #C1FFE4;
text-align: right;
animation: skill2 4.5s infinite;
}
.js
{
    width: 80%;
    background-color: #C1FFE4;
    text-align: right;
    animation: skill3 4.5s infinite;
}
.py
{
    width: 40%;
    background-color: #C1FFE4;
    text-align: right;
    animation: skill4 4.5s infinite;
}
.java
{
    width: 80%;
    background-color: #C1FFE4;
    text-align: right;
    animation: skill5 4.5s infinite;
}
.c
{
    width: 85%;
    background-color: #C1FFE4;
    text-align: right;
    animation: skill6 4.5s infinite;
}

.power
{
    width: 90%;
    background-color: #C1FFE4;
    text-align: right;
    animation: skill7 4.5s infinite;
}
@keyframes skill1{
    0% {
      width: 0%
    }

    100%
    {
        width: 75%;
    }
}

@keyframes skill2{
    0% {
      width: 0%
    }

    100%
    {
        width: 70%;
    }
}

@keyframes skill3{
    0% {
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes skill4{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }

}

@keyframes skill5{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}

@keyframes skill6{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

@keyframes skill7{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}